<div>
    <div class="headernav col-lg-12 col-md-12 col-sm-12 row">
        <div class=" col-11 displayed">
            <img src="../../../assets/images/headerLogo.png">
        </div>
        <div class=" col-1 headericons">
            <div class="headeritems headerBell">
                <!-- <img src="../../../assets/images/Bell icon.svg"> -->
            </div>
           <div class="headeritems">
              <!-- <img  class="" src="../../../assets/images/profile dropdown.svg"> -->
              <div class="dropDownItems">
                    <a (click)="signOut()">
                         <img src="../../../assets/images/signout.svg">
                    </a>
              </div>
            </div>        
        </div>
        
    </div>
    
</div> 