<div class="navcontainer" >
    <!-- <div>
        <img class="logo" src="../../../assets/images/orderslist logo.svg">
    </div> -->
    <div class="orderslistOptions">
        <ul>
            <li class="nav-item"  routerLink="/pages/ordersList" routerLinkActive="active">
                <img src="../../../assets/images/ordersListManagement.svg">
                <p>Orders List Management</p>
            </li>
            <li class="nav-item" routerLink="/pages/deliveryBoyManagement">
                <img src="../../../assets/images/deliveryBoyManagement.svg">
                <p>Delivery Boy Management</p>
            </li>
            <li class="nav-item" routerLink="/pages/dataManagement">
                <img src="../../../assets/images/storageManagement.svg">
                <p>Data Management</p>
            </li>
            <li class="nav-item" routerLink="/pages/paymentDetails">
                <img src="../../../assets/images/paymentDetails.svg">
                <p>Payment Details</p>
            </li>
        </ul>
    </div>
</div>
