.data_management{
    padding: 0;
    margin: 0;
}
.data_management_header{
    padding: 0px 10px;
    margin: 0;
    width: 100vw;
    height: 54px;
    left: 110px;
    top: 39px;
    background: #F2F2F2;
    border: 0.2px solid #828282;
    box-sizing: border-box;
}
.data_Managemant_body{
    padding: 0px 10px;
    margin: 0;
}
.dManagement_left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}
.dManagement_right{
    display: flex;
   
    button {
        width: 138px;
        height: 28px;
        color: white;
        float: right;
        border:0px;
        
        /* Blue 1 */
        
        background: #2F80ED;
        border-radius: 4px;
    }
}
 